body
{
	background-color: #000029;
}
h1
{
	background-color: #ff8243;
	text-align: center;
}

#stage
{
width: 757px;
height: 473px;
margin: 0 auto;
}

#background
{
width: 757px;
height: 473px;
margin: 0 auto;
background-image: url(media/космос.png);
}

#alien
{
width: 70px;
height: 80px;
display: block;
margin-top: -450px;
margin-left: 350px;
background-image: url(media/пришелец.png);
}

#missile
{
width: 40px;
height: 39px;
display: block;
margin-top: 280px;
margin-left: 360px;;
background-image: url(media/огонь.png);
}

#cannon
{
width: 100px;
height: 63px;
display: block;
margin-top: -70px;
margin-left: 330px;
background-image: url(media/инс.png);
}
