h1
{
font-family: Mistral, serif;
font-size: 70px;
color: #191970;
font-style: italic;
font-weight: bold;
}
h2
{
font-family: Gabriola, monospace;
font-size: 30px;
color: #4169E1;
text-decoration: underline;
}
p, li
{
font-family: Calibri, sans-serif;
font-size: 20px;
font-weight: bold;
}
a
{
color: #4682B4;
text-decoration: none;
}
a:hover
{
background-color: #4B0082;
color: white;
}
img
{
width: 320px;
height: 213.25px;
border-style: outset;
border-width: 5px;
border-color: #191970;
}
#film
{
position: absolute;
top: 450px;
left: 400px;
}
#film2
{
position: absolute;
top: 450px;
left: 800px;
}
#drama
{
display: block;
font-family: Gabriola, monospace;
text-decoration: underline;
font-size: 30px;
color: black;
font-style: italic;
font-weight: bold;
position: absolute;
top: 165px;
left: 700px;

}
#music
{
display: block;
width: 340px;
height: 40px;
position: absolute;
top: 275px;
left: 610px;
}
