@font-face
{
    font-family: Gabriola;
    src: url("fonts/Gabriola.ttf");
}

input
{
font-size: 25px;
}

body
{
	font-family: Gabriola;
    background:url("media/фон.jpg") no-repeat;
	text-align: center;
	font-size: 70px;
}

p
{
    font-family: Arial;
    text-align: center;
	font-size: 25px;
}

#fon
{
    background-color: #fff;
    width: 670px;
    height:598px;
    margin: 0 auto;
    border-radius: 35px;
}

button
{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #fff;
padding: 10px 20px;
cursor: pointer;
border-radius: 6px;
background:-webkit-linear-gradient(top, #a3a3a3, #000);
-webkit-user-select: none;
}
button:hover
{
background: -webkit-linear-gradient(top, #87CEFA, #4682B4);
}
button:active
{
background: -webkit-linear-gradient(top, #87CEEB, #F0FFFF);
}

#stage
{
width: 632px;
height: 162px;
margin: 0 auto;
}

#scale
{
width: 632px;
height: 162px;
position: absolute;
top: 400px;
left: 345px;
background-image: url(media/линейка.jpg);
}

#arrow
{
width: 31px;
height: 52px;
position: absolute;
top: 350px;
left: 342px;
background-image: url(media/стрелка.jpg);

-webkit-transition: left 0.5s ease-out 0s;
-moz-transition: left 0.5s ease-out 0s;
transition: left 0.5s ease-out 0s;
